
<div>
  <h1>Dashboard</h1>

  <h2>Adhérents</h2>
  <div class="stat-card">
    <h4>Nombre d'adhérents</h4>
  </div>
  <div class="stat-card">
    <h4>Moyenne d'âge</h4>
  </div>
  <div class="stat-card">
    <h4>Insciptions</h4>
  </div>

  <h2>Ceintures</h2>
  <div class="stat-card">
    <h4>Blanches</h4>
  </div>
  <div class="stat-card">
    <h4>Jaunes</h4>
  </div>
  <div class="stat-card">
    <h4>Oranges</h4>
  </div>
  <div class="stat-card">
    <h4>Vertes</h4>
  </div>
  <div class="stat-card">
    <h4>Bleues</h4>
  </div>
  <div class="stat-card">
    <h4>Marron</h4>
  </div>
  <div class="stat-card">
    <h4>Noires</h4>
  </div>

</div>
