<footer>
  <div class="footer">
      <div class="footer-info">
          <div class="footer-social">
              <p class="bold">Suivez-nous</p>
              <i class="pi pi-facebook red-icon"></i> <a href="">Actus JTCN</a>
          </div>
          <div class="footer-contact">
              <p class="bold">Contact</p>
              <p><i class="pi pi-envelope red-icon"></i> Email : <a href="mailto:info@jtcn.be">info@jtcn.be</a></p>
              <p><i class="pi pi-phone red-icon"></i> Tel : 0473/79.07.91</p>
          </div>
      </div>
      <div class="footer-nav">
          <p class="bold">Questions fréquentes</p>
          <ul>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu#jj-origine">Qu'est-ce que le Jiu-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu#origines-taijutsu">Qu'est-ce que le Taï-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu#jj-judo">Quelle différence entre Jiu-jitsu et Judo ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu#taijutsu-kravmaga">Quelle différence entre Taï-jitsu et Krav-maga ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./cours-jiujitsu#equipement">Quel matériel pour débuter ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./inscriptions#2-cours-gratuits">Puis-je venir faire un essai ?</a></li>
          </ul>
      </div>
  </div>
  <div class="copyright">
      <p><span class="far fa-copyright"></span> JTCN 2022</p>
  </div>
</footer>
