<div class="cover">
  <img src="./assets/images/cover_jiu-jitsu.jpg" alt="Jiu jitsu cover">
</div>

<main>
  <h1 id="jiu-jitsu">Le Jiu Jitsu</h1>
  <div class="sub-nav-container">
      <div class="sub-nav-items">
          <ul>
              <li><span class="fas fa-caret-right"></span> <a href="#jj-origine">Les origines du jiu-jitsu</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#jj-techniques">Les techniques de jiu-jitsu</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#jj-avantages">Pourquoi faire du jiu-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#jj-judo">Différence entre jiu-jitsu et judo</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#jj-aikido">Différence entre jiu-jitsu et aïkido</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#jj-jjb">Différence entre jiu-jitsu et JJB</a></li>
          </ul>
      </div>
  </div>

  <section id="jj-origine">
      <h2>Qu'est-ce que le Jiu-jitsu ?</h2>
      <p class="bold">Le jiu-jitsu (ou ju-jitsu / jujutsū) est un ensemble de techniques de combat, qui furent développées par les samouraïs afin de se défendre lorsqu'ils étaient désarmés lors d'une bataille.</p>
      <p>
          Ces derniers se battaient contre des adversaires équipés d'armures.
          Les techniques de frappe classiques contre des ennemis en armure étant inéfficaces, les samouraïs ont mis au point des techniques ayant pour principe de base d'utiliser la souplesse plutôt que la force, afin de contrôler l'attaque et la retourner contre l'adversaire.
          D'où le nom "jujutsū", qui signifie "art de la souplesse" en japonais.
      </p>
      <p>
          <span class="underline">NB</span> : <span class="bold">le jiu-jitsu est considéré comme "l'art martial originel"</span>.
          Il a enfanté de nombreux arts-martiaux, et nombre de sports de combat ont emprunté ses techniques, tels que : judo, aïkido, jiu-jitsu brésilien, karaté, taï-jitsu, penchak silat, krav maga, grappling, aïki-jutsu, atemi-jutsu, etc.</p>
  </section>

  <section id="jj-techniques">

      <div id="jj-techniques-intro">
          <h2>Les techniques de Jiu-jitsu</h2>
          <p>Les écoles de jiu-jitsu (appelées "Ryū") ayant chacunes développées leurs propres techniques, il existe une multitude de techniques et de combinaisons possibles (ce qui rend le jiu-jitsu si attractif).</p>
          <p>Néanmoins, <span class="bold">toutes ces techniques sont regroupées en 3 catégories</span> :</p>
          <div class="info-container">
              <div class="info-box cat-box">
                  <div class="cat-txt">
                      <p class="cat-name">ATEMI-WAZA</p>
                      <p class="cat-tech">Techniques de frappe</p>
                  </div>
                  <div class="cat-img">
                      <img src="./assets/images/technique-jiujitsu_atemi-waza.png" alt="technique atemi jiu jitsu">
                  </div>
              </div>
              <div class="info-box cat-box">
                  <div class="cat-txt">
                      <p class="cat-name">NAGE-WAZA</p>
                      <p class="cat-tech">Techniques de projection</p>
                  </div>
                  <div class="cat-img">
                      <img src="./assets/images/technique-jiujitsu_nage-waza.png" alt="technique nage jiu jitsu">
                  </div>
              </div>
              <div class="info-box cat-box">
                  <div class="cat-txt">
                      <p class="cat-name">KATAME-WAZA</p>
                      <p class="cat-tech">Techniques de maîtrise</p>
                  </div>
                  <div class="cat-img">
                      <img src="./assets/images/technique-jiujitsu_katame-waza.png" alt="technique katame jiu jitsu">
                  </div>
              </div>
          </div>
          <div id="jj-techniques-nb">
              <p><span class="underline">NB</span> : Les techniques de maîtrise sont subdivisées en 3 catégories :</p>
              <p><span class="bold">Kansetsu waza</span> (les clés articulaires), <span class="bold">Shime waza</span> (les étranglements), <span class="bold">Osae waza</span> (les immobilisations)</p>
          </div>
      </div>

      <div id="jj-atemi">
          <h3>Atemi waza : les frappes</h3>
          <p>
              Les atemis sont des coups portés avec différentes parties du corps (mains, pieds, coudes, genoux) dans le but d'atteindre un point vital de l'adversaire.
          </p>
          <div class="atemi techs">
              <div class="techs-img">
                  <img src="./assets/images/jiu-jitsu-atemi.png" alt="Jiu jitsu atemi">
              </div>
          </div>
      </div>

      <div id="jj-nage">
          <h3>Nage waza : les projections</h3>
          <p>
              Les projections sont des techniques de défense en saisie dont le but est de provoquer le déséquilibre de l'adversaire afin de l'emmener au sol.
          </p>
          <div class="projections techs">
              <div class="techs-img">
                  <img src="./assets/images/jiu-jitsu-projection.png" alt="Jiu jitsu projection">
              </div>
          </div>
      </div>

      <div id="jj-kansetsu">
          <h3>Kansetsu waza : les clés</h3>
          <p>
              Les clés articulaires sont des techniques ayant pour but d'emmener diverses articulations vers dez zones inhabituelles pour le corps humain, obligeant l'adversaire à abandonner.
          </p>
          <div class="cles techs">
              <div class="techs-img">
                  <img src="./assets/images/jiu-jitsu-cle-bras.png" alt="Jiu jitsu clé de bras">
              </div>
          </div>
      </div>
  </section>

  <section id="jj-avantages">
      <h2>Les avantages du Jiu jitsu</h2>
      <p>
          <span class="bold">Le jiu-jitsu est un art martial complet</span> mêlant des techniques debout, au sol et en projection, des techniques de frappe, de soumission et d'étranglement, qui vous permettra de développer une palette technique très large.
          Cette grande diversité dans les techniques en fait une excellente discipline de self-defense, vous permettant de faire face à tout type de situation.
      </p>
      <p>
          D'un point de vue "spirituel", le jiu-jitsu repose sur le <a href="https://fr.wikipedia.org/wiki/Bushido">bushido</a> : un ensemble de principes moraux qui guidait la vie des samouraïs.
          <span class="bold">La pratique du jiu-jitsu vous transmettra donc des valeurs</span> qui transcendent le sport : l'honneur, l'intégrité, le courage, le respect, la bienveillance, l'honnêteté, et la loyauté.
          Des qualités qui vous seront indéniablement utiles dans la vie de tous les jours, et vous aideront à faire face et à relever tous les défis qui se présenteront à vous.
      </p>
  </section>

  <section id="jj-differences">
      <h2>Différences entre Jiu-jitsu et autres sports</h2>
      <h3 id="jj-judo">Jiu jitsu vs Judo</h3>
      <p>
          Le judo est un art martial japonais provenant du jiu-jitsu, ayant écarté toutes les techniques dangereuses de celui-ci.
          Le judo a été inventé dans un but éducatif.
          Le principe du judo est de mettre son adversaire au sol (principalement par des techniques de projection) et de l'immobiliser au sol (via des techniques de maîtrise).
          Il exclut donc toutes les techniques de frappe (atemi) ainsi que les techniques jugées trop dangereuses.
      </p>

      <h3 id="jj-aikido">Jiu jitsu vs Aïkido</h3>
      <p>
          L'aïkido est un art martial japonais composé de techniques à mains nues et avec armes (inspiré du Kenjutsu).
          Le but de l'aïkido n'est pas de vaincre son adversaire mais de réduire la tentative d'agression à néant avec des techniques dont le principe est d'utiliser l'agressivité de l'adversaire (et donc sa force) contre lui.
          Dans cette logique, il n'existe pas de compétition d'aïkido.
          L'aïkido exclut toutes les techniques de frappe, certaines techniques de projections et de clés articulaires.
      </p>

      <h3 id="jj-jjb">Jiu jitsu vs Jiu jitsu brésilien</h3>
      <p>
          Le jiu-jitsu brésilien tire ses techniques du jiu-jitsu (japonais/traditionnel) et du judo.
          C'est donc un art martial relativement récent (fin du XXème siècle).
          Le principe du jiu-jitsu brésilien est qu'une personne peut se défendre face à n'importe quel adversaire, y compris les opposants plus lourds et plus forts.
          Dans ce but, l'objectif est d'amener l'adversaire au sol où les différences de poids et de force sont moins conséquentes.
          En jiu-jitsu brésilien, on utilise principalement des techniques de mise au sol suivies de clés ou d'étranglements dans le but de faire abandonner son adversaire.
      </p>
  </section>

</main>

<div class="retour-debut">
  <p class="retour-debut-bouton"><a href="#jiu-jitsu"><span class="fas fa-arrow-alt-circle-up"></span></a></p>
</div>

<footer>
  <div class="footer">
      <div class="footer-info">
          <div class="footer-social">
              <p class="bold">Suivez-nous</p>
              <p><span class="fab fa-facebook-square"></span> <a href="">Actus JTCN</a></p>
          </div>
          <div class="footer-contact">
              <p class="bold">Contact</p>
              <p><span class="fas fa-envelope-square"></span>Email : <a href="mailto:info@jtcn.be">info@jtcn.be</a></p>
              <p><span class="fas fa-phone-square-alt"></span>Tel : 0473/79.07.91</p>
          </div>
      </div>
      <div class="footer-nav">
          <p class="bold">Questions fréquentes</p>
          <ul>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-origine">Qu'est-ce que le Jiu-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#origines-taijutsu">Qu'est-ce que le Taï-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-judo">Quelle différence entre Jiu-jitsu et Judo ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#taijutsu-kravmaga">Quelle différence entre Taï-jitsu et Krav-maga ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./cours-jiujitsu.html#equipement">Quel matériel pour débuter ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./inscriptions.html#2-cours-gratuits">Puis-je venir faire un essai ?</a></li>
          </ul>
      </div>
  </div>
  <div class="copyright">
      <p><span class="far fa-copyright"></span> JTCN 2022</p>
  </div>
</footer>
