<div class="login-page">

  <div class="login-form">
    <h2>Bienvenue</h2>
    <p>Connectez-vous avec votre login et votre mot de passe.</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="login-form-item">
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input type="text" pInputText placeholder="Login" formControlName="login" required />
        </span>
        <p *ngIf="loginField.invalid && (loginField.dirty || loginField.touched)" class="alert">
          Le champ Login est requis.
        </p>
      </div>

      <div class="login-form-item">
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input type="password" pInputText placeholder="Password" formControlName="password" required />
        </span>
        <p *ngIf="passwdField.invalid && (passwdField.dirty || passwdField.touched)" class="alert">
          Le champ Password est requis.
        </p>
      </div>

      <button type="submit" pButton label="Connexion" [disabled]="!loginForm.valid"></button>
    </form>

    <p>
      {{ errorMessage }}
    </p>
  </div>

</div>
