<div class="login-page">

  <div class="login-form">
    <h2>Bienvenue</h2>
    <p class="login-form-infoMsg">Connectez-vous pour accéder à l'espace admin</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()" class="loginform">
      <div class="login-form-item">
        <p *ngIf="loginField.invalid && (loginField.dirty || loginField.touched)" class="alert">
          <span class="alertMsg">Le champ Login est requis</span>
        </p>
        <span class="p-input-icon-left">
          <i class="pi pi-user"></i>
          <input type="text" pInputText placeholder="Login" formControlName="login" required />
        </span>
      </div>

      <div class="login-form-item">
        <p *ngIf="passwdField.invalid && (passwdField.dirty || passwdField.touched)" class="alert">
          <span class="alertMsg">Le champ Password est requis</span>
        </p>
        <span class="p-input-icon-left">
          <i class="pi pi-lock"></i>
          <input type="password" pInputText placeholder="Password" aria-describedby="badpasswd" formControlName="password" required />
        </span>
      </div>

      <button type="submit" pButton label="Connexion" [disabled]="!loginForm.valid"></button>
    </form>

    <!-- <div *ngIf="errorMessage != null">
    <p-messages [(value)]="errorMsgAlert"></p-messages>
      {{ errorMessage }}
    </div> -->

    <p class="bad-login-ex">{{ errorMessage }}</p>
  </div>

</div>
