
  <nav class="navbar">
    <a href="#" class="nav-logo nav-logo-app">JTCN</a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink=""><i class="icon pi pi-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="jiu-jitsu">Jiu-jitsu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="tai-jitsu">Tai-jitsu</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="club">Club</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="cours">Cours</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="app/admin">App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="auth">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-app" routerLink="auth" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </nav>

