<div class="cover">
  <img src="./assets/images/cover_club-jiujitsu-jtcn.jpg" alt="Club de ju-jutsu à Namur : JTCN">
</div>

<main>
  <h1 id="club-jtcn">Club JTCN</h1>

  <div class="sub-nav-container">
      <div class="sub-nav-items">
          <ul>
              <li><span class="fas fa-caret-right"></span> <a href="#histoire-club-jtcn">L'histoire du JTCN</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#enseignants-jtcn">Les enseignants</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#jtcn-dojo">Notre dojo</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#reglement-jtcn">Le règlement</a></li>
          </ul>
      </div>
  </div>

  <section>
      <div class="historique">
          <h2 id="histoire-club-jtcn">Histoire du club</h2>
          <div class="club-intro">
              <div>
                  <p>
                      <strong>Notre club de jiu jitsu</strong>, <span class="bold">le JTCN (Jiu jitsu & Taï jitsu Club de Namur), à été créé par Maître Pol Longton en 1988</span>.
                      Il étudia son savoir auprès de Maître Paul Dermine.
                      Trois cours par semaine furent mis en place : le mercredi, le vendredi, et le samedi.
                  </p>
                  <p>
                      Maître Pol Longton était 4ème Dan de jiu jitsu et 2ème Dan de taï jitsu, et membre du comité de grade en jiu jitsu et taï jitsu.
                      Une photo de lui est accrochée dans le dojo en sa mémoire.
                      <span class="bold">À son décès, le club fût remis à la ceinture la plus haute, Marc Baugniet</span>.
                  </p>
              </div>
              <div class="club-logo">
                  <img src="./assets/images/logo-jtcn.jpg" alt="Logo du JTCN" width="320" height="237">
              </div>
          </div>
          <p>
              Marc Baugniet commença les arts martiaux à l'âge de 26 ans.
              Il commença par du karaté shotokan et du ju jitsu auprès de Maître Barzin.
              Il changea de club pour poursuivre son apprentissage du jiu jitsu auprès de Maître Pol Longton, et pour commencer un nouvel art martial similaire au karaté, le taï jitsu.
              En parallèle, il continua le karaté shotokan durant 2 ans auprès de Maître Vincent Leduc.
          </p>
          <p>
              Actuellement, <span class="bold">Marc Baugniet est 6ème Dan jiu jitsu et 5ème Dan taï jitsu</span>, membre de la commission de grade en jiu jitsu et tai jitsu, président de la section taï jitsu et trésorier de la section jiu jitsu.
              Il enseigne, s'entraîne, partage, examine et délègue.
              Il poursuit les 3 entraînements par semaine que Pol avait instaurés.
              Le club perdure dans une ambiance familiale et dans le respect de chacun.
              Si Marc Baugniet n'est pas là, les professeurs adjoints, tous formés par lui, se feront un plaisir de partager leur savoir et leur apprentissage qui seront une éternelle remise en question par souci d'efficacité et de perfection.
          </p>
      </div>
  </section>

  <section>
      <div class="staff">
          <h2 id="enseignants-jtcn">Les enseignants</h2>
          <div class="staff-cards">

              <div id="marc" class="prof">
                  <div class="prof-imgs">
                      <div class="prof-photo">
                          <img src="./assets/images/member-icon.png" alt="">
                      </div>
                      <div class="prof-ceinture">
                          <img src="./assets/images/jiujitsu-ceinture-blanche-rouge.jpg" alt="">
                      </div>
                  </div>
                  <div class="prof-desc">
                      <div class="prof-nom">
                          <p>Marc BAUGNIET</p>
                      </div>
                      <div class="prof-rang">
                          <ul>
                              <li><span class="fas fa-caret-right"></span>Jiu Jitsu : 6ème dan</li>
                              <li><span class="fas fa-caret-right"></span>Taï Jitsu : 5ème dan</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div id="kristopher" class="prof">
                  <div class="prof-imgs">
                      <div class="prof-photo">
                          <img src="./assets/images/member-icon.png" alt="">
                      </div>
                      <div class="prof-ceinture">
                          <img src="./assets/images/jiujitsu-ceinture-noire.jpg" alt="">
                      </div>
                  </div>
                  <div class="prof-desc">
                      <div class="prof-nom">
                          <p>Kristopher BAUGNIET</p>
                      </div>
                      <div class="prof-rang">
                          <ul>
                              <li><span class="fas fa-caret-right"></span>Jiu Jitsu : 4ème dan</li>
                              <li><span class="fas fa-caret-right"></span>Taï Jitsu : 4ème dan</li>
                              <li><span class="fas fa-caret-right"></span>Tae Kwon Do : 3ème dan</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div id="serge" class="prof">
                  <div class="prof-imgs">
                      <div class="prof-photo">
                          <img src="./assets/images/member-icon.png" alt="">
                      </div>
                      <div class="prof-ceinture">
                          <img src="./assets/images/jiujitsu-ceinture-noire-rouge.jpg" alt="">
                      </div>
                  </div>
                  <div class="prof-desc">
                      <div class="prof-nom">
                          <p>Serge VAN NIEUWENHUYSE</p>
                      </div>
                      <div class="prof-rang">
                          <ul>
                              <li><span class="fas fa-caret-right"></span>Jiu Jitsu : 5ème dan</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div id="eric" class="prof">
                  <div class="prof-imgs">
                      <div class="prof-photo">
                          <img src="./assets/images/member-icon.png" alt="">
                      </div>
                      <div class="prof-ceinture">
                          <img src="./assets/images/jiujitsu-ceinture-noire-2rouge.jpg" alt="">
                      </div>
                  </div>
                  <div class="prof-desc">
                      <div class="prof-nom">
                          <p>Erci DUFAUX</p>
                      </div>
                      <div class="prof-rang">
                          <ul>
                              <li><span class="fas fa-caret-right"></span>Taï Jitsu : 5ème dan</li>
                              <li><span class="fas fa-caret-right"></span>Jiu Jitsu : 3ème dan</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div id="guillaume" class="prof">
                  <div class="prof-imgs">
                      <div class="prof-photo">
                          <img src="./assets/images/member-icon.png" alt="">
                      </div>
                      <div class="prof-ceinture">
                          <img src="./assets/images/jiujitsu-ceinture-noire.jpg" alt="">
                      </div>
                  </div>
                  <div class="prof-desc">
                      <div class="prof-nom">
                          <p>Guillaume MANIET</p>
                      </div>
                      <div class="prof-rang">
                          <ul>
                              <li><span class="fas fa-caret-right"></span>Jiu Jitsu : 4ème dan</li>
                              <li><span class="fas fa-caret-right"></span>Taï Jitsu : 1ère dan</li>
                              <li><span class="fas fa-caret-right"></span>Judo : 1ère dan</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div id="konstantin" class="prof">
                  <div class="prof-imgs">
                      <div class="prof-photo">
                          <img src="./assets/images/member-icon.png" alt="">
                      </div>
                      <div class="prof-ceinture">
                          <img src="./assets/images/jiujitsu-ceinture-noire.jpg" alt="">
                      </div>
                  </div>
                  <div class="prof-desc">
                      <div class="prof-nom">
                          <p>Konstantin KULAKSIS</p>
                      </div>
                      <div class="prof-rang">
                          <ul>
                              <li><span class="fas fa-caret-right"></span>Jiu Jitsu : 3ème dan</li>
                              <li><span class="fas fa-caret-right"></span>Taï Jitsu : 3ème dan</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section id="jtcn-dojo">
      <h2>Le dojo</h2>
      <p>
          Notre dojo se trouve à Tabora, le Centre Namurois des Sports.
          Pour y accéder, entrez à l'intérieur du complexe sportif de Tabora et prenez les escaliers en direction du sous-sol.
          Une fois au sous-sol, longez le couloir principal jusqu'à la salle "judo n°2".
      </p>
      <p>
          <span class="bold underline">Adresse</span> : <span class="bold">Avenue de Tabora, 21 - 5000 Namur</span>
      </p>
      <div class="map-responsive">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.551120797852!2d4.8485259174438475!3d50.468083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1999032e49763%3A0x78e9983a7176ab4f!2sJTCN!5e0!3m2!1sfr!2sbe!4v1646516746364!5m2!1sfr!2sbe" allowfullscreen="" loading="lazy"></iframe>
      </div>
  </section>

  <section class="reglement" id="reglement-jtcn">
      <h2>Le règlement</h2>
      <ol>
          <li><span class="fas fa-caret-right"></span> Saluer en entrant et en sortant du dojo et de la surface d'entrainement (tatami)</li>
          <li><span class="fas fa-caret-right"></span> Saluer son partenaire avant et après l'exercice</li>
          <li><span class="fas fa-caret-right"></span> Les ongles sont coupés</li>
          <li><span class="fas fa-caret-right"></span> La tenue est propre</li>
          <li><span class="fas fa-caret-right"></span> La politesse est de rigueur dans le dojo</li>
          <li><span class="fas fa-caret-right"></span> Les bijoux et autres objets de valeur ne sont pas assurés</li>
          <li><span class="fas fa-caret-right"></span> Respecter ses partenaires et les grades supérieurs</li>
          <li><span class="fas fa-caret-right"></span> Interdiction de venir sous l'influence d'alcool ou de drogue; les professeurs gardent le droit de refuser l'accès à la séance d'entrainement</li>
      </ol>
  </section>
</main>

<div class="retour-debut">
  <p class="retour-debut-bouton"><a href="#club-jtcn"><span class="fas fa-arrow-alt-circle-up"></span></a></p>
</div>

<footer>
  <div class="footer">
      <div class="footer-info">
          <div class="footer-social">
              <p class="bold">Suivez-nous</p>
              <p><span class="fab fa-facebook-square"></span> <a href="">Actus JTCN</a></p>
          </div>
          <div class="footer-contact">
              <p class="bold">Contact</p>
              <p><span class="fas fa-envelope-square"></span>Email : <a href="mailto:info@jtcn.be">info@jtcn.be</a></p>
              <p><span class="fas fa-phone-square-alt"></span>Tel : 0473/79.07.91</p>
          </div>
      </div>
      <div class="footer-nav">
          <p class="bold">Questions fréquentes</p>
          <ul>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-origine">Qu'est-ce que le Jiu-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#origines-taijutsu">Qu'est-ce que le Taï-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-judo">Quelle différence entre Jiu-jitsu et Judo ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#taijutsu-kravmaga">Quelle différence entre Taï-jitsu et Krav-maga ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./cours-jiujitsu.html#equipement">Quel matériel pour débuter ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./inscriptions.html#2-cours-gratuits">Puis-je venir faire un essai ?</a></li>
          </ul>
      </div>
  </div>
  <div class="copyright">
      <p><span class="far fa-copyright"></span> JTCN 2022</p>
  </div>
</footer>
