<app-website-layout></app-website-layout>

<div class="cover">
  <img src="../../../../assets/images/website/cover_page404-jtcn.jpg" alt="JTCN page 404">
</div>

<main>
  <div class="center">
      <h1>Erreur 404.</h1>
      <p>Oups ! Désolé, cette page n'existe pas ou plus.</p>
      <a href="./index.html">Revenir à la page d'accueil</a>
  </div>
</main>

<footer>
  <div class="footer">
      <div class="footer-info">
          <div class="footer-social">
              <p class="bold">Suivez-nous</p>
              <p><span class="fab fa-facebook-square"></span> <a href="">Actus JTCN</a></p>
          </div>
          <div class="footer-contact">
              <p class="bold">Contact</p>
              <p><span class="fas fa-envelope-square"></span>Email : <a href="mailto:info@jtcn.be">info@jtcn.be</a></p>
              <p><span class="fas fa-phone-square-alt"></span>Tel : 0473/79.07.91</p>
          </div>
      </div>
      <div class="footer-nav">
          <p class="bold">Questions fréquentes</p>
          <ul>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-origine">Qu'est-ce que le Jiu-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#origines-taijutsu">Qu'est-ce que le Taï-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-judo">Quelle différence entre Jiu-jitsu et Judo ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#taijutsu-kravmaga">Quelle différence entre Taï-jitsu et Krav-maga ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./cours-jiujitsu.html#equipement">Quel matériel pour débuter ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./inscriptions.html#2-cours-gratuits">Puis-je venir faire un essai ?</a></li>
          </ul>
      </div>
  </div>
  <div class="copyright">
      <p><span class="far fa-copyright"></span> JTCN 2022</p>
  </div>
</footer>
