.app-header {
  // border-bottom: 1px solid #E2E8F0;
  background-color: var(--primary-red);
  position: fixed;
  width: 100%;
  top: 0;
  height: 80px;
  z-index: 1;

  font-weight: bold;
}

.app-section {
}

// .app-main {
//   display: flex;
// }

// .app-sidebar {
//   width: 5rem;
//   border-right: 1px solid black;
// }

// .section-app {
//   width: 100%;
// }

