<div class="cover">
  <img src="../../../../../assets/images/website/JTCN-jiujitsu-taijitsu-club-namur_wide.jpg" alt="photo du JTCN, club de jiu-jitsu à Namur">
</div>

<main class="main">
  <h1>Jiu-jitsu Taï-jitsu Club Namur</h1>

  <section>
      <div class="intro">
          <p>
              Le jiu jitsu et le tai jitsu sont des arts martiaux dont le but est l'apprentissage de l'auto-défense à mains nues, contre un ou plusieurs adversaires, avec ou sans armes.
          </p>
          <p>
              À travers ces deux arts martiaux, vous apprendrez des techniques traditionnelles et/ou modernes de frappe,
              de soumissions et de projections, debout, à genoux ou au sol. Ces disciplines empruntent ou sont à l'origine de nombreuses
              techniques de judo, d'aïkido et de karaté. Ils se pratiquent avec un ou plusieurs partenaires qu'on appelle "ukes".
          </p>
          <p>
              Ils allient souplesse, maîtrise du corps, résistance physique, rapidité et concentration. La pratique de ces arts martiaux
              ne se résume pas qu'à la pratique d'un sport mais vous développe aussi sur le plan personnel.
          </p>
          <p>
              N'hésitez pas à nous rendre visite ! Les deux premiers cours sont offerts afin de mieux vous rendre compte que ces arts martiaux sont faits pour vous !
          </p>
      </div>
  </section>

  <div class="info-container">
      <div class="info-box">
          <div class="info-txt">
              <p class="icon"><span class="fas fa-map-marker-alt"></span></p>
              <h2 class="info-title">Où ?</h2>
              <p class="info-txt-p">Le JTCN se trouve <span class="bold">au Centre Namurois des Sports (Tabora)</span> à Salzinnes, Namur.</p>
              <p class="info-txt-p">Dans le centre même, descendre au sous-sol à la salle de judo 2.</p>
              <p class="info-txt-p"><span class="fas fa-caret-right"></span> <a href="./club-jiujitsu.html#jtcn-dojo">Voir sur la carte</a></p>
          </div>
          <div class="info-img">
              <img id="img1" src="../../../../../assets/images/website/jiu-jitsu-club-namur_jtcn.png" alt="ju jitsu club namur JTCN - adresse">
          </div>
      </div>
      <div class="info-box">
          <div class="info-txt">
              <p class="icon"><span class="fas fa-user-clock"></span></p>
              <h2 class="info-title">Quand ?</h2>
              <p class="info-txt-p">Les cours ont lieu les :</p>
              <ul>
                  <li class="info-txt-p">
                    <span class="fas fa-caret-right"></span>
                    <span class="black"> {{ schedules[0].jour }}</span>
                    de <span class="black">{{ schedules[0].heureDebut }}</span>
                    à <span class="black">{{ schedules[0].heureFin }}</span>
                  </li>
                  <li class="info-txt-p">
                    <span class="fas fa-caret-right"></span>
                    <span class="black"> {{schedules[1].jour}}</span>
                    de <span class="black">{{ schedules[1].heureDebut }}</span>
                    à <span class="black">{{ schedules[1].heureFin }}</span>
                  </li>
                  <li class="info-txt-p">
                    <span class="fas fa-caret-right"></span>
                    & <span class="black"> {{schedules[2].jour}}</span>
                    de <span class="black">{{ schedules[2].heureDebut }}</span>
                    à <span class="black">{{ schedules[2].heureFin }}</span>
                  </li>
              </ul>
              <p class="info-txt-p">Les cours ont lieu toute l'année, même pendant les vacances .</p>
          </div>
          <div class="info-img">
              <img id="img2" src="../../../../../assets/images/website/jiu-jitsu-club-horaire_jtcn.png" alt="Jiu jitsu club namur JTCN - horaire">
          </div>
      </div>
      <div class="info-box">
          <div class="info-txt">
              <p class="icon"><span class="fas fa-comment-dollar"></span></p>
              <h2 class="info-title">Combien ?</h2>
              <p class="info-txt-p">Les tarifs (à titre indicatif) :</p>
              <ul>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> <span class="black"> {{prices[0].prix}}</span>€ par <span class="black">cours</span></li>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> <span class="black"> {{prices[1].prix}}</span>€ par <span class="black">trimestre</span></li>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> <span class="black"> {{prices[2].prix}}</span>€ par <span class="black">saison</span></li>
              </ul>
              <p class="info-txt-p">À cela s'ajoute la licence/assurance qui s'élève à 28€ par an.</p>
          </div>
          <div class="info-img">
              <img id="img3" src="../../../../../assets/images/website/jiu-jitsu-club-tarif_jtcn.png" alt="Ju jutsu club namur JTCN - tarifs">
          </div>
      </div>
  </div>
</main>

<website-footer></website-footer>
