<div class="cover">
  <img src="./assets/images/JTCN-jiujitsu-taijitsu-club-namur.jpg" alt="photo du JTCN, club de jiu-jitsu à Namur">
</div>

<main class="main">
  <h1>Jiu-jitsu Tai-jitsu Club Namur</h1>

  <section>
      <div class="intro">
          <p>
              Le jiu jitsu et le tai jitsu sont des arts martiaux dont le but est l'apprentissage de l'auto-défense à mains nues, contre un ou plusieurs adversaires, avec ou sans armes.
          </p>
          <p>
              À travers ces deux arts martiaux, vous apprendrez des techniques traditionnelles et/ou modernes de frappe,
              de soumissions et de projections, debout, à genoux ou au sol. Ces disciplines empruntent ou sont à l'origine de nombreuses
              techniques de judo, d'aïkido et de karaté. Ils se pratiquent avec un ou plusieurs partenaires qu'on appelle "ukes".
          </p>
          <p>
              Ils allient souplesse, maîtrise du corps, résistance physique, rapidité et concentration. La pratique de ces arts martiaux
              ne se résume pas qu'à la pratique d'un sport mais vous développe aussi sur le plan personnel.
          </p>
          <p>
              N'hésitez pas à nous rendre visite ! Les deux premiers cours sont offerts afin de mieux vous rendre compte que ces arts martiaux sont faits pour vous !
          </p>
      </div>
  </section>

  <div class="info-container">
      <div class="info-box">
          <div class="info-txt">
              <p class="icon"><span class="fas fa-map-marker-alt"></span></p>
              <h2 class="info-title">Où ?</h2>
              <p class="info-txt-p">Le JTCN se trouve au Centre Namurois des Sports (Tabora), à Namur.</p>
              <p class="info-txt-p">Dans le centre même, descendre au sous-sol à la salle de judo 2.</p>
              <p class="info-txt-p"><span class="fas fa-caret-right"></span> <a href="./club-jiujitsu.html#jtcn-dojo">Voir sur la carte</a></p>
          </div>
          <div class="info-img">
              <img id="img1" src="./assets/images/jiu-jitsu-club-namur_jtcn.png" alt="ju jitsu club namur JTCN - adresse">
          </div>
      </div>
      <div class="info-box">
          <div class="info-txt">
              <p class="icon"><span class="fas fa-user-clock"></span></p>
              <h2 class="info-title">Quand ?</h2>
              <p class="info-txt-p">Les cours ont lieu les :</p>
              <ul>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> Mercredi de 18h00 à 19h00</li>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> Vendredi de 20h00 à 22h00</li>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> & Samedi de 09h30 à 11h00</li>
              </ul>
              <p class="info-txt-p">Les cours ont lieu toute l'année, même pendant les vacances scolaires.</p>
          </div>
          <div class="info-img">
              <img id="img2" src="./assets/images/jiu-jitsu-club-horaire_jtcn.png" alt="Jiu jitsu club namur JTCN - horaire">
          </div>
      </div>
      <div class="info-box">
          <div class="info-txt">
              <p class="icon"><span class="fas fa-comment-dollar"></span></p>
              <h2 class="info-title">Combien ?</h2>
              <p class="info-txt-p">Les tarifs (à titre indicatif) :</p>
              <ul>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> 5€ par cours</li>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> 55€ par trimestre</li>
                  <li class="info-txt-p"><span class="fas fa-caret-right"></span> 150€ par an</li>
              </ul>
              <p class="info-txt-p">À cela s'ajoute la licence/assurance qui s'élève à 28€ par an.</p>
          </div>
          <div class="info-img">
              <img id="img3" src="./assets/images/jiu-jitsu-club-tarif_jtcn.png" alt="Ju jutsu club namur JTCN - tarifs">
          </div>
      </div>
  </div>
</main>

<footer>
  <div class="footer">
      <div class="footer-info">
          <div class="footer-social">
              <p class="bold">Suivez-nous</p>
              <p><span class="fab fa-facebook-square"></span> <a href="">Actus JTCN</a></p>
          </div>
          <div class="footer-contact">
              <p class="bold">Contact</p>
              <p><span class="fas fa-envelope-square"></span>Email : <a href="mailto:info@jtcn.be">info@jtcn.be</a></p>
              <p><span class="fab fa-whatsapp-square"></span>Tel : 0473/79.07.91</p>
          </div>
      </div>
      <div class="footer-nav">
          <p class="bold">Questions fréquentes</p>
          <ul>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-origine">Qu'est-ce que le Jiu-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#origines-taijutsu">Qu'est-ce que le Taï-jitsu ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./jiu-jitsu.html#jj-judo">Quelle différence entre Jiu-jitsu et Judo ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./tai-jitsu.html#taijutsu-kravmaga">Quelle différence entre Taï-jitsu et Krav-maga ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./cours-jiujitsu.html#equipement">Quel matériel pour débuter ?</a></li>
              <li><span class="fas fa-caret-right"></span>  <a href="./inscriptions.html#2-cours-gratuits">Puis-je venir faire un essai ?</a></li>
          </ul>
      </div>
  </div>
  <div class="copyright">
      <p><span class="far fa-copyright"></span> JTCN 2022</p>
  </div>
</footer>
