<div class="admin-stats">

  <div class="admin-stats-cards">
    <div class="stat-card">
      <div class="stat-card-content">
        <p class="stat-card-title">Membres</p>
        <p class="stat-card-number">{{ totalOfMembers }}</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-card-content">
        <p class="stat-card-title">Membres actifs</p>
        <p class="stat-card-number">{{ totalOfActiveMembers }}</p>
      </div>
    </div>
    <div class="stat-card">
      <div class="stat-card-content">
        <p class="stat-card-title">Moyenne d'âge</p>
        <p class="stat-card-number">{{ ageAverage }}<span class="card-age">ans</span></p>
      </div>
    </div>
  </div>

  <div class="admin-stats-subscriptions">
    <div class="subscriptions-evolution">
      <p-tabView>
        <p-tabPanel header="Année">
          <p-chart type="line" [data]="subscriptionsPerYear"></p-chart>
        </p-tabPanel>
        <p-tabPanel header="Mois">
          <p-chart type="bar" [data]="subscriptionsPerMonth"></p-chart>
        </p-tabPanel>
    </p-tabView>
    </div>
  </div>

</div>
