<div class="cover">
  <img src="../../../../../assets/images/website/cover_cours-jiujitsu-namur.jpg" alt="Cours de jiu jitsu et self defense à Namur / cover">
</div>

<main>
  <h1 id="cours-jujutsu">Cours de Jiu jitsu</h1>
  <div class="sub-nav-container">
      <div class="sub-nav-items">
          <ul>
              <li><span class="fas fa-caret-right"></span> <a href="#public">Pour quel public ?</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#horaires-entrainements">L'horaire des entraînement</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#contenu-cours">Comment se passe un entraînement ?</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#equipement">L'équipement nécessaire</a></li>
          </ul>
      </div>
  </div>

  <section id="public">
      <h2>Pour quel public ?</h2>
      <p>
          <strong>Nos cours de jiu-jitsu</strong> sont mixtes et accessibles à tous, y compris aux enfants <span class="bold">à partir de 10 ans</span>. Les néophytes en arts-martiaux sont également les bienvenus; aucune expérience en arts-martiaux ou sports de combat n'est demandée.
      </p>
      <p>
          Le jiu-jitsu est un excellent choix si vous souhaitez simplement renouer avec une activité sportive.
          Et si vous souhaitez vous défouler et évacuer les tensions liées à la vie quotidienne et professionnelle, c'est un excellent anti-stress.
      </p>
      <p>
          L'utilisation, par principe, de la force de l'adversaire, en fait également un sport particulièrement accessible aux femmes sensibilisées par l'aspect "self-defense".
      </p>
      <ul>
          <li><span class="fas fa-caret-right"></span> Plus d'infos sur le <a href="./jiu-jitsu.html">jiu-jitsu</a>.</li>
          <li><span class="fas fa-caret-right"></span> Plus d'infos sur le <a href="./tai-jitsu.html">taï-jitsu</a>.</li>
      </ul>
  </section>

  <section id="horaires-entrainements">
      <h2>Horaire des entraînements</h2>

      <div class="info-container">
          <div class="info-box cat-box h-box">
              <div class="cat-txt">
                  <p class="jour-entrainement">Mercredi</p>
              </div>
              <div class="heure-entrainement">
                  <p class="heure-debut">18<span class="heure-h">h</span>00</p>
                  <hr>
                  <p class="heure-fin">19<span class="heure-h">h</span>00</p>
              </div>
              <div class="jour-conge">
                  <p>Sauf jours fériés</p>
              </div>
          </div>
          <div class="info-box cat-box h-box">
              <div class="cat-txt">
                  <p class="jour-entrainement">Vendredi</p>
              </div>
              <div class="heure-entrainement">
                  <p class="heure-debut">20<span class="heure-h">h</span>00</p>
                  <hr>
                  <p class="heure-fin">22<span class="heure-h">h</span>00</p>
              </div>
              <div class="jour-conge">
                  <p>Sauf jours fériés</p>
              </div>
          </div>
          <div class="info-box cat-box h-box">
              <div class="cat-txt">
                  <p class="jour-entrainement">Samedi</p>
              </div>
              <div class="heure-entrainement">
                  <p class="heure-debut">09<span class="heure-h">h</span>30</p>
                  <hr>
                  <p class="heure-fin">11<span class="heure-h">h</span>00</p>
              </div>
              <div class="jour-conge">
                  <p>Sauf jours fériés</p>
              </div>
          </div>
      </div>
  </section>

  <section id="contenu-cours">
      <div class="cours">
          <h2>Déroulement des cours</h2>
          <p>Un <strong>cours de jiu-jitsu</strong> se décompose comme ceci:</p>
          <ul id="cours-deroulement">
              <li><span class="fas fa-caret-right"></span> <span class="bold black">Échauffement</span> : cardio, étirements, renforcement musculaire, frappes, déplacements.</li>
              <li><span class="fas fa-caret-right"></span> <span class="bold black">Chutes</span> : pour apprendre à tomber sans se faire mal.</li>
              <li><span class="fas fa-caret-right"></span> <span class="bold black">Techniques</span> : le maître montre des prises ou enchaînements, qu'on répète avec un(e) partenaire.</li>
          </ul>
          <div class="techs-img">
              <img src="../../../../../assets/images/website/cours-jiu-jitsu.png" alt="Cours de jiu jitsu - échauffement">
          </div>
      </div>
  </section>

  <section>
      <h2>L'équipement nécessaire</h2>
      <div id="equipement">
          <div class="kimono">
              <img src="../../../../../assets/images/website/kimono-jiujitsu.png" alt="kimono jiujitsu (judogi)">
          </div>
          <div id="equipement-txt">
              <p>L'équipement de base est très peu coûteux et se limite à un kimono de type judo (judogi). Vous trouverez cela chez Decathlon (ou ailleurs) <span class="bold">pour moins d'une vingtaine d'euros</span>.</p>
              <p>Avec le temps et selon vos envies et besoins, du matériel (non-obligatoire) peut venir s'ajouter, tel que :</p>
              <ul>
                  <li><span class="fas fa-angle-right"></span> Gants de frappe</li>
                  <li><span class="fas fa-angle-right"></span> Protèges tibia</li>
                  <li><span class="fas fa-angle-right"></span> Protèges cheville</li>
                  <li><span class="fas fa-angle-right"></span> Coquille</li>
                  <li><span class="fas fa-angle-right"></span> etc.</li>
              </ul>
          </div>
      </div>
      <p class="nota-bene"><span class="underline">NB</span> : si vous souhaitez venir <a href="./inscriptions.html#inscriptions-jtcn">faire un essai gratuitement</a>, un jogging et un t-shirt feront très bien l'affaire.</p>
  </section>
</main>

<div class="retour-debut">
  <p class="retour-debut-bouton"><a href="#cours-jujutsu"><span class="fas fa-arrow-alt-circle-up"></span></a></p>
</div>

<website-footer></website-footer>
