<div class="cover">
  <img src="../../../../../assets/images/website/cover_tai-jitsu.jpg" alt="Tai jitsu cover">
</div>

<main>
  <h1 id="taijitsu">Le Taï Jitsu</h1>
  <nav class="sub-nav-container">
      <div class="sub-nav-items">
          <ul>
              <li><span class="fas fa-caret-right"></span> <a href="#origines-taijutsu">Origines et principes du Taï jitsu</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#taijutsu-artsmartiaux">Différences entre Taï jitsu et Jiu jitsu</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#taijutsu-karate">Différences entre Taï jitsu et Karate</a></li>
              <li><span class="fas fa-caret-right"></span> <a href="#taijutsu-kravmaga">Différences entre Taï jitsu et Krav maga</a></li>
          </ul>
      </div>
  </nav>

  <section>
      <h2 id="origines-taijutsu">Qu'est-ce que le Taï-Jistu ?</h2>
      <p>
          Le Taï jitsu, ou taî jutsu, (traduction: "techniques du corps") est un art martial provenant du Japon et développé durant la seconde moitié du XXème siècle en France.
      </p>
      <p>
          Le Taî-jitsu est une méthode d'auto-défense issue des techniques de combat des samouraïs.
          Le principe du taï jitsu consiste à se défendre avec une esquive, suivi d'un atemi destiné à entrer une technique (clé articulaire ou projection) dans le but d'une mise à l'abandon par atemi final ou par clé au sol.
          De manière succincte, le taï-jitsu est considéré comme une synthèse moderne du judo, du karaté et de l'aïkido.
      </p>
      <p>
          La Taî-jitsu passe par l'apprentissage de katas (combat imaginaire) et de mouvements de base destinés à apprendre rapidement un système défensif applicable à toutes formes d'attaques.
      </p>
      <div class="techs-img img-content">
          <img src="../../../../../assets/images/website/tai-jitsu.png" alt="technique tai jitsu">
      </div>
  </section>

  <section>
      <h2 id="taijutsu-artsmartiaux">Différences entre Taî Jutsu et d'autres arts martiaux</h2>
      <h3 id="taijutsu-jujutsu">Taï jitsu vs Jiu jitsu</h3>
      <p>
          Le jiu-jitsu et le taï-jitsu, dans la pratique, sont forts similaires, bien qu'il existe quelques points de différence.
          Hormis le point le plus visible pour les débutants, qui est l'apprentissage des mouvements de base et des katas en taï-jitsu, l'autre point majeur de différence est la pratique des atemis (techniques de frappe).
          En Taï-jitsu les atemis sont essentiels, alors qu'ils sont facultatifs en jiu-jitsu (ils dépendront de la technique entrée : projection - clé).
          Le point essentiel en jiu-jitsu est de déséquilibrer et contrôler totalement son adversaire ou partenaire.
      </p>

      <h3 id="taijutsu-karate">Taï jitsu vs Karaté</h3>
      <p>
          Le karaté est un art martial provenant du Japon qui utilise essentiellement des techniques de frappe, effectuées avec différentes parties du corps (pied, poing, coude, genou).
          Contrairement au taï jitsu (qui allie techniques de frappe, projections, clés), l'accent est donc essentiellement mis sur les techniques de percussion.
          Autre différence majeure : le karaté est un sport de compétition, pas la taï-jitsu.
          Les techniques de clés et de mise au sol sont donc très peu enseignées au karaté, même si elles existent.
          Il existe une multitude d'écoles de karaté (karaté shotokan, karaté goju, etc.) ayant chacune leur propre style et règles de combat.
      </p>

      <h3 id="taijutsu-kravmaga">Taï jitsu vs Krav maga</h3>
      <p>
          Le krav maga est une méthode de combat rapproché israélienne. Son but est d'enseigner des techniques simples et efficaces afin que l'apprentissage de réflexes se fasse en un minimum de temps.
          La simplicité des techniques est déterminant dans le cadre de la rapidité d'action des techniques.
          Le krav maga utilise essentiellement des techniques de frappe sur les points vitaux.
          Il n'est pas considéré comme un art martial et ne traite donc pas l'aspect culturel.
          Dû à la recherche de simplicité, il n'enseigne pas un panel de techniques de projections et clés articulaires.
      </p>
  </section>
</main>


<div class="retour-debut">
  <p class="retour-debut-bouton"><a href="#taijitsu"><span class="fas fa-arrow-alt-circle-up"></span></a></p>
</div>

<website-footer></website-footer>
