<div class="member-container">
  <div class="member-content-container">
    <p-toast position="bottom-center" key="created"></p-toast>
    <p-toast position="bottom-center" key="notCreated"></p-toast>

    <div class="test1"></div>
    <form class="member-register-form" [formGroup]="form" (ngSubmit)="submitForm()" >
      <p-tabView [(activeIndex)]="tabIndex">

        <p-tabPanel header="Informations">
          <div class="p-fluid grid">
            <div class="field col-6 col-offset-3">
              <div class="group-register-form">
                <label for="lastname">Nom</label>
                <input type="text" id="lastname" pInputText formControlName="nom">
              </div>
              <div class="group-register-form">
                <label for="firstname">Prénom</label>
                <input type="text" id="firstname" pInputText formControlName="prenom">
              </div>
              <div class="group-register-form">
                <label for="sex">Genre</label>
                <p-dropdown [options]="genders" optionValue="label" placeholder="Sélectionner le genre" optionLabel="label" formControlName="sexe"></p-dropdown>
              </div>
              <div class="group-register-form">
                <span>Date de naissance</span>
                <p-inputMask mask="99/99/9999" placeholder="31/12/2022" slotChar="dd/mm/yyyy" formControlName="dateNaissance" (change)="onBirthdateChange($event)"></p-inputMask>
              </div>
              <div class="group-register-form">
                <label for="phone">Téléphone</label>
                <input type="text" id="phone" pInputText placeholder="0475123456" formControlName="telephone">
              </div>
              <div class="group-register-form">
                <label for="email">Email</label>
                <input type="text" id="email" pInputText formControlName="email">
              </div>
              <div class="group-register-form">
                <label for="blood">Groupe sanguin</label>
                <p-dropdown [options]="bloodTypes" placeholder="Sélectionner le groupe sanguin" optionLabel="label" formControlName="groupeSanguin"></p-dropdown>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-3 col-offset-7">
              <p-button icon="pi pi-chevron-right" iconPos="right" (click)="openNext()" styleClass="p-button-text" label="Suivant"></p-button>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Adresse" [disabled]="estMineur">
          <!-- <form class="contact-register-form"> -->
            <div class="p-fluid grid">
              <div class="field col-6 col-offset-3">
                <div class="group-register-form">
                  <label for="street">Rue</label>
                  <input type="text" id="street" pInputText formControlName="rue">
                </div>
                <div class="group-register-form">
                  <label for="number">Numéro</label>
                  <input type="text" id="number" pInputText formControlName="numero">
                </div>
                <div class="group-register-form">
                  <label for="zipcode">Code postal</label>
                  <input type="number" id="zipcode" pInputText formControlName="codePostal">
                </div>
                <div class="group-register-form">
                  <label for="city">Ville</label>
                  <input type="text" id="city" pInputText formControlName="ville">
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="col-3 col-offset-3">
                <p-button icon="pi pi-chevron-left" (click)="openPrevious()" styleClass="p-button-text" label="Précédent"></p-button>
              </div>
              <div class="col-3 col-offset-1">
                <p-button icon="pi pi-chevron-right" iconPos="right" (click)="openNext()" styleClass="p-button-text" label="Suivant"></p-button>
              </div>
            </div>
          <!-- </form> -->
        </p-tabPanel>

        <p-tabPanel header="Ceintures">
            <!-- <form class="belts-register-form"> -->
              <div class="p-fluid grid">
                <div class="field col-6 col-offset-3">
                  <p-divider align="center">
                    <b>Jiu-jitsu</b>
                  </p-divider>
                  <div class="group-register-form">
                    <label for="jiujitsu">Ceinture</label>
                    <p-dropdown [options]="jjBelts" optionLabel="couleur" formControlName="jjCeinture"></p-dropdown>
                  </div>
                  <div class="group-register-form">
                    <label for="jjdate">Date d'obtention</label>
                    <p-inputMask id="jjdate" mask="99/99/9999" placeholder="31/12/2022" slotChar="dd/mm/yyyy" formControlName="jjDateObtention"></p-inputMask>
                  </div>
                  <div class="blank-height-space"></div>
                  <!-- <div class="blank-height-space"></div>
                  <hr>
                  <div class="blank-height-space"></div> -->
                  <p-divider align="center">
                    <b>Taï-jitsu</b>
                  </p-divider>
                  <div class="group-register-form">
                    <label for="taijitsu">Ceinture</label>
                    <p-dropdown [options]="tjBelts" optionLabel="couleur" formControlName="tjCeinture"></p-dropdown>
                  </div>
                  <div class="group-register-form">
                    <label for="tjdate">Date d'obtention</label>
                    <p-inputMask id="tjdate" mask="99/99/9999" placeholder="31/12/2022" slotChar="dd/mm/yyyy" formControlName="tjDateObtention"></p-inputMask>
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col-3 col-offset-3">
                  <p-button icon="pi pi-chevron-left" (click)="openPrevious()" styleClass="p-button-text" label="Précédent"></p-button>
                </div>
                <div class="col-3 col-offset-1">
                  <p-button icon="pi pi-chevron-right" iconPos="right" (click)="openNext()" styleClass="p-button-text" label="Suivant"></p-button>
                </div>
              </div>
            <!-- </form> -->
        </p-tabPanel>

        <p-tabPanel header="Contact">
            <!-- <form class="contact-register-form"> -->
              <div class="p-fluid grid">
                <div class="field col-6 col-offset-3">
                  <div class="group-register-form">
                    <label for="contact-lastname">Nom</label>
                    <input type="text" id="contact-lastname" pInputText formControlName="contactNom">
                  </div>
                  <div class="group-register-form">
                    <label for="contact-firstname">Prénom</label>
                    <input type="text" id="contact-firstname" pInputText formControlName="contactPrenom">
                  </div>
                  <div class="group-register-form">
                    <label for="contact-phone">Téléphone</label>
                    <input type="text" id="contact-phone" pInputText formControlName="contactTelephone">
                  </div>
                  <div class="group-register-form">
                    <label for="contact-link">Lien avec l'adhérent</label>
                    <input type="text" id="contact-link" pInputText formControlName="contactLien">
                  </div>
                </div>
              </div>
              <div class="grid">
                <div class="col-3 col-offset-3">
                  <p-button icon="pi pi-chevron-left" (click)="openPrevious()" styleClass="p-button-text" label="Précédent"></p-button>
                </div>
                <div class="col-3 col-offset-1">
                  <p-button icon="pi pi-chevron-right" iconPos="right" (click)="openNext()" styleClass="p-button-text" label="Suivant"></p-button>
                </div>
              </div>
            <!-- </form> -->
        </p-tabPanel>

        <p-tabPanel header="Référent" [disabled]="!estMineur">
          <!-- <form class="referent-register-form"> -->
            <div class="p-fluid grid">
              <div class="field col-6 col-offset-3">
                <div class="group-register-form">
                  <label for="referent-lastname">Nom</label>
                  <input type="text" id="referent-lastname" pInputText formControlName="referentNom">
                </div>
                <div class="group-register-form">
                  <label for="referent-firstname">Prénom</label>
                  <input type="text" id="referent-firstname" pInputText formControlName="referentPrenom">
                </div>
                <div class="group-register-form">
                  <label for="referent-phone">Téléphone</label>
                  <input type="text" id="referent-phone" pInputText formControlName="referentTelephone">
                </div>
                <div class="group-register-form">
                  <label for="referent-link">Lien avec l'adhérent</label>
                  <input type="text" id="referent-link" pInputText formControlName="referentLien">
                </div>
                <p-divider align="left">
                  <b>Adresse</b>
                </p-divider>
                <div class="group-register-form">
                  <label for="ref-street">Rue</label>
                  <input type="text" id="ref-street" pInputText formControlName="referentRue">
                </div>
                <div class="group-register-form">
                  <label for="ref-number">Numéro</label>
                  <input type="text" id="ref-number" pInputText formControlName="referentNumero">
                </div>
                <div class="group-register-form">
                  <label for="ref-zipcode">Code postal</label>
                  <input type="number" id="ref-zipcode" pInputText formControlName="referentCP">
                </div>
                <div class="group-register-form">
                  <label for="ref-city">Ville</label>
                  <input type="text" id="ref-city" pInputText formControlName="referentVille">
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="col-3 col-offset-3">
                <p-button icon="pi pi-chevron-left" (click)="openPrevious()" styleClass="p-button-text" label="Précédent"></p-button>
              </div>
              <div class="col-3 col-offset-1">
                <p-button icon="pi pi-chevron-right" iconPos="right" (click)="openNext()" styleClass="p-button-text" label="Suivant"></p-button>
              </div>
            </div>
          <!-- </form> -->
        </p-tabPanel>

        <p-tabPanel header="Cotisation">
          <div class="p-fluid grid">
            <div class="field col-6 col-offset-3">
              <div class="group-register-form">
                <span>Date de souscription</span>
                <p-inputMask mask="99/99/9999" placeholder="31/12/2022" slotChar="dd/mm/yyyy" formControlName="dateSouscription"></p-inputMask>
              </div>
              <div class="group-register-form">
                <label for="formule">Formule de cotisation</label>
                <p-dropdown [options]="pricePlans" optionLabel="duree" formControlName="formuleCotisation"></p-dropdown>
              </div>
              <div class="group-register-form">
                <label for="isPaid">Le membre a-t-il payé sa cotisation ?</label>
                <p-selectButton [options]="stateOptions" formControlName="estPaye"></p-selectButton>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-3 col-offset-3">
              <p-button icon="pi pi-chevron-left" (click)="openPrevious()" styleClass="p-button-text" label="Précédent"></p-button>
            </div>
            <div class="col-3 col-offset-1">
              <p-button icon="pi pi-chevron-right" iconPos="right" (click)="openNext()" styleClass="p-button-text" label="Suivant"></p-button>
            </div>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Autre">
          <!-- <form class="referent-register-form"> -->
            <div class="p-fluid grid">
              <div class="field col-6 col-offset-3">
                <div class="group-register-form">
                  <span>Date d'inscription</span>
                  <p-inputMask mask="99/99/9999" placeholder="31/12/2022" slotChar="dd/mm/yyyy" formControlName="dateInscription"></p-inputMask>
                </div>
                <div class="group-register-form">
                  <label for="presencesTotal">Nombre de présences (total)</label>
                  <input type="number" id="presencesTotal" pInputText formControlName="basePresencesTotal">
                </div>
                <div class="group-register-form">
                  <label for="presencesCeinture">Nombre de présences (ceinture)</label>
                  <input type="number" id="presencesCeinture" pInputText formControlName="basePresencesRequises">
                </div>
                <div class="group-register-form">
                  <label for="image-authorize">Autorisation de publication d'image</label>
                  <p-selectButton [options]="stateOptions" formControlName="autoriseImage"></p-selectButton>
                </div>
                <div>
                  Upload photo
                </div>
              </div>
            </div>
            <div class="grid">
              <div class="col-3 col-offset-3">
                <p-button icon="pi pi-chevron-left" (click)="openPrevious()" styleClass="p-button-text" label="Précédent"></p-button>
              </div>
            </div>
          <!-- </form> -->
        </p-tabPanel>

      </p-tabView>
    </form>

  </div>

  <div class="member-actions-container">
    <div class="action-btns">
      <!-- &nbsp; <button [formTarget]="form" (click)="resetForm()" pButton type="button" label="Réinitialiser" class="p-button-sm"></button> -->
      &nbsp; <button [formTarget]="form" (click)="submitForm()" pButton type="button" label="Valider" class="p-button-sm"></button>
    </div>
  </div>

</div>
