<div class="all-cotisations">
  <p-table #dt1 [value]="memberships" [resizableColumns]="true" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <!-- <i class="pi pi-search"></i> -->
          <p-columnFilter type="text" field="nom"></p-columnFilter>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nom">Nom<p-sortIcon field="nom"></p-sortIcon></th>
          <th pSortableColumn="prenom">Prénom<p-sortIcon field="prenom"></p-sortIcon></th>
          <th pSortableColumn="prix">Prix<p-sortIcon field="prix"></p-sortIcon></th>
          <th pSortableColumn="duree">Formule<p-sortIcon field="duree"></p-sortIcon></th>
          <th pSortableColumn="dateDebut">Date de souscription<p-sortIcon field="dateDebut"></p-sortIcon></th>
          <th pSortableColumn="dateFin">Echéance<p-sortIcon field="dateFin"></p-sortIcon></th>
          <th pSortableColumn="estArchive" colspan="2">Status<p-sortIcon field="estArchive"></p-sortIcon></th>
          <th pSortableColumn="estPaye" colspan="2">Paiement<p-sortIcon field="estPaye"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cotisation>
        <tr>
          <td>{{ cotisation.nom }}</td>
          <td>{{ cotisation.prenom }}</td>
          <td>{{ cotisation.prix }}€</td>
          <td>{{ cotisation.duree }}</td>
          <td>{{ cotisation.dateDebut | date: 'dd-MM-yyyy' }}</td>
          <td>{{ cotisation.dateFin | date: 'dd-MM-yyyy' }}</td>
          <td>{{ cotisation.estArchive ? 'Archivé' : 'Active' }}</td>
          <td>
            <button *ngIf="!cotisation.estArchive" (click)="changeArchiveStatus(cotisation.idCotisation)" pButton pRipple type="button" icon="bx bx-archive-in" class="p-button-rounded p-button-success p-button-text"></button>
            <button *ngIf="cotisation.estArchive" (click)="changeArchiveStatus(cotisation.idCotisation)" pButton pRipple type="button" icon="bx bx-archive-out" class="p-button-rounded p-button-secondary p-button-text"></button>
          </td>
          <td>{{ cotisation.estPaye ? 'Payé' : 'En attente' }}</td>
          <td>
            <button *ngIf="cotisation.estPaye" (click)="changePaymentStatus(cotisation.idCotisation)" pButton pRipple type="button" icon="bx bx-dollar-circle" class="p-button-rounded p-button-success p-button-text"></button>
            <button *ngIf="!cotisation.estPaye" (click)="changePaymentStatus(cotisation.idCotisation)" pButton pRipple type="button" icon="bx bx-dollar-circle" class="p-button-rounded p-button-danger p-button-text"></button>
          </td>
        </tr>
    </ng-template>
  </p-table>
</div>
