/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

// html, body {
//   min-height: 100vh;
//   height: auto;
// }

// font-family: 'Varela Round', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  //position: relative;
  // font-family: 'Dosis', sans-serif;
  font-family: 'Varela Round', sans-serif;
  // font-weight: 500;
  font-size: 1.25rem;
  color: #606060;
  // font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

.main h1 {
  font-size: 1.8rem;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
}

h2 {
  color: #293542;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 30px;
}

h3 {
  color: #474B4E;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

h4 {
  color: #474B4E;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--primary-blue);
}
a:visited {
  color: var(--primary-blue);
}
a:hover {
  color: var(--secondary-blue);
}

.small {
  font-size: 0.9rem;
}

/* ---------- SCROLL ---------- */
::-webkit-scrollbar {
  display: none;
  //width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
 //background: #f1f1f1;
 background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: whitesmoke;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ---------- COLORS ---------- */
:root {
  --primary-red: #DA0037;
  --secondary-red: #ff4b5d;
  --primary-blue: #056674;
  --secondary-blue: #66BFBF;
  --middle-grey: #474B4E;
  // #42A5F5
  --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.red-icon {
  color: var(--primary-red);
  margin-right: 6px;
}
.icon-1plus1 {
  font-size: 1.1rem;
}
.icon-x2 {
  font-size: 2rem;
}

$color-link: #125699;

/* ---------- MODULES LAYOUT ---------- */
.header-module {
}

.container-module {
  display: flex;
  height: calc(100vh - 80px);
  overflow: hidden;
  background: whitesmoke;

  /* side menu */
  .container-module-menu {
    width: 42rem;   // 300px;
    background-color: whitesmoke;
    overflow-y: scroll;
    margin-top: 2.5rem;
    margin-right: 1rem;
    margin-bottom: 2.4rem;
    margin-left: 2rem;
    border-radius: 8px;

    .module-menu-header {
      margin-left: .8rem;
      margin-right: .8rem;
    }

    .module-menu-card {
      display: flex;
      height: 75px;
      background-color: white;
      border: 1px solid var(--primary-blue);
      border-radius: 5px;
      margin-top: .8rem;
      margin-bottom: .8rem;
      margin-left: .8rem;
      margin-right: .8rem;
      padding-top: 12px;
      overflow: hidden;
      box-shadow: 0 14px 26px rgba(0,0,0,0.04);
      transition: all 0.3s ease-out;

      .card-pastille {
        //margin-top: 13px;
        margin-left: 20px;
        padding-top: 11px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        border: 2px solid var(--primary-blue);
        background: var(--secondary-blue);
        text-align: center;
        color: white;

        .card-pastille {
          transition: all 0.3s ease-out;
        }
      }
      .card-name {
        //color: black;
        margin-top: 13px;
      }
    }

    .module-menu-card:hover {
      background: var(--secondary-blue);
      transform: translateY(-4px) scale(1.005) translateZ(0);
    }
    .module-menu-card:hover .overlay {
      transform: scale(20) translateZ(0);
    }
    .module-menu-card:hover .card-pastille {
      border-color: white;
      background: var(--primary-blue);
    }
    .module-menu-card:hover .card-pastille:after {
      background: var(--bg-primary-blue);
    }
    .module-menu-card:hover p {
      color: white;
    }
    .module-menu-card:active {
      transform: scale(1) translateZ(0);
      box-shadow: 0 15px 24px rgba(0,0,0,0.11),
        0 15px 24px var(--box-shadow-color);
    }
    .module-menu-card p{
      font-size: 1.2rem;
      color: #4C5656;
      margin-top: 33px;
      margin-left: 1.5rem;
      z-index: 1000;
      transition: color 0.3s ease-out;
    }
    .card-pastille:after {
      transition: opacity 0.3s ease-out;
    }
    .overlay {
      width: 50px;
      position: absolute;
      height: 50px;
      border-radius: 50%;
      background: var(--secondary-blue);
      top: 20px;
      left: 20px;
      z-index: -1;
      transition: transform 0.3s ease-out;
    }
  }

  /* detail content */
  .container-module-content {
    width: 100%;
    overflow-y: scroll;
    background: white;
    border-radius: 8px;
    margin-top: 2.5rem;
    margin-right: 2.5rem;
    margin-bottom: 2.4rem;
    margin-left: 2rem;
  }

}

/* --- Members --- */



/* ------ WEBSITE ------ */

h1 {
  color: black;
  font-size: 2.6rem;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
}

.main h1 {
  font-size: 3rem;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif;
}

main {
  width: 1080px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.cover img {
  display: block;
  width: 1080px;
  margin: 0 auto;
  margin-top: 80px;
}

.bold {
  font-weight: bold;
}

.black{
  color: black;
}

/* -------------------- NAV */

/*------------ DESKTOP version ------------*/
.header {
  border-bottom: 1px solid #E2E8F0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 80px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 3rem;
  list-style: none;
}

.nav-link {
  font-size: 1.3rem;
  font-weight: 400;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-link-app {
  color: white!important;
}
.nav-link-app:visited {
  color: white;
}

.nav-current {
  color: #66BFBF;
}

.nav-free-course {
  color: #DA0037;
}

.nav-logo {
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  font-size: 4.4rem;
  font-weight: 500;
  color: #DA0037!important;

  a:hover {
    color: var(--secondary-blue)!important;
  }
}
.nav-logo-app {
color: white!important;
}
// .nav-logo-app {
//   font-family: 'Oswald', sans-serif;
//   font-size: 4.6rem;
//   font-weight: 500;
//   color: white;
//   }
/*------------ SMARTPHONE version ------------*/
@media only screen and (max-width: 880px) {
  .nav-logo {
      font-size: 3rem;
  }

  .navbar {
      height: 55px;
      padding-right: 18px;
      padding-left: 10px;
  }
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 53px;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow: 0 10px 27px rgba(0,0,0,0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem;
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
      opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }
}
/*------------ TABLET version ------------*/
@media only screen and (max-width: 768px) {
  .navbar {
      padding-left: 10px;
      padding-right: 16px;
  }

  .nav-item {
      margin-left: 2rem;
  }

  .nav-link {
    text-decoration: none;
      font-size: 1.125rem;
      font-weight: 400;
      font-family: 'Oswald', sans-serif;
      text-transform: uppercase;
      color: #276678;
  }

  .nav-free-course {
      color: #DA0037;
  }
}


// /* INDEX */
.intro {
  margin-bottom: 40px;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-box {
  background-color: #F7F7F7;
  margin-bottom: 25px;
  padding: 9%;
  border-radius: 10px;
}

.info-txt {
  margin: auto;

  a {
    text-decoration: none;
    color: var(--primary-blue);
  }
  a:visited {
    color: var(--primary-blue);
  }
  a:hover {
    color: var(--secondary-blue);
  }
}

.info-txt-p {
  font-size: 1.2rem;
  list-style: none;
}

.info-title {
  text-align: center;
  font-size: 2.4rem!important;
  font-weight: 600!important;
  margin-top: 0px;
  margin-bottom: 25px;
}

// /* */
.intro {
  width: 100%;
}

.info-container {
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}

.info-box {
  background-color: #F7F7F7;
  width: 100%;
  padding: 3%;
}
.info-box:first-child, .info-box:nth-child(2) {
  margin-right: 25px;
}

.info-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.info-img {
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 10px;
  height: 260px;
  width: 260px;
}

#img1, #img2, #img3 {
  display: block;
  height: inherit;
  border-radius: inherit;
}

/* Pages */
.sub-nav-container {
  background-color: whitesmoke;
  border-radius: 6px;

  .sub-nav-items {
    font-size: 1.4rem;
    //line-height: 1rem;
    padding: 20px;
  }
  .sub-nav-items ul>li {
    list-style: none;
  }
}

.techs-img > img {
  //margin: 0 auto;
  width: 100%;
}

/* FOOTER */
footer {
  background-color: whitesmoke;
  margin-top: 15px;
  border-top: 3px solid lightgrey;
  list-style: none;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.footer-info {
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.footer-titles {
  color: #474B4E;
}

.footer-contact span {
  margin-right: 6px;
}

.copyright {
  text-align: center;
  border-top: 1px solid lightgrey;
  padding: 15px 0;
  font-size: 0.9rem;
}

footer {
  margin-top: 50px;

  a {
    text-decoration: none;
    color: var(--primary-blue);
  }
  a:visited {
    color: var(--primary-blue);
  }
  a:hover {
    color: var(--secondary-blue);
  }
}

.footer {
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-info {
  flex-direction: column;
}

.footer-nav {
  order: -1;

  ul > li {
    list-style: none;
  }
}


/*------------ Fontawesome ------------*/
.fab, .fas, .far {
  color: #DA0037;
  margin-right: 2px;
}

.fa-home {
  color: inherit;
}
.fa-home:hover {
  color: inherit;
}

.icon {
  text-align: center;
  font-size: 4rem;
}
