.member-top-infos {

  .member-photo-container {
    width: 12%;
    height: 12%;

    .member-photo {
      width: 100%;
      border-radius: 50%;
      border: 3px solid black;
    }
  }

  .member-basic-infos {

    .member-fullname {
      font-size: 3rem;
      font-weight: 700;
    }

    .member-since {
      color: grey;
    }
  }
}

.member-infos-container {

}

.contact-container {
  display: flex;
  justify-content: space-between;

  .contact-personal {

  }

  .contact-others{
    width: 62.5%;
  }
}


/* ------- Couleurs des ceintures ------- */

:host ::ng-deep .p-chip.white-belt {
  background: white;
  color: black;
}

:host ::ng-deep .p-chip.yellow-belt {
  background: #ffffb5;
  color: black;
}

:host ::ng-deep .p-chip.orange-belt {
  background: #ffc8a2;
  color: black;
}

:host ::ng-deep .p-chip.green-belt {
  background: green;
  color: white;
}

:host ::ng-deep .p-chip.blue-belt {
  background: blue;
  color: white;
}

:host ::ng-deep .p-chip.brown-belt {
  background: brown;
  color: white;
}

:host ::ng-deep .p-chip.black-belt {
  background: black;
  color: white;
}


