<h1 class="header-module">Ceintures</h1>

<div class="container-module">

  <div class="container-module-menu">
    <!-- <app-shared-menu></app-shared-menu> -->
    <div>
      <a [routerLink]="['details/', belt.idCeinture]" *ngFor="let belt of belts">
        <div class="module-menu-card">
          Ceinture {{ belt.couleur }} ({{ belt.discipline.nom }})
        </div>
      </a>
    </div>
    <!-- <app-member-details [id]="selectedId"></app-member-details> -->
  </div>

  <div class="container-module-content">
    <router-outlet></router-outlet>
  </div>

</div>
