
  <nav class="navbar">
    <a href="#" class="nav-logo">JTCN</a>
    <ul class="nav-menu">
      <li class="nav-item">
        <a class="nav-link" routerLink=""><i class="pi pi-home icon"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="jiu-jitsu">Jiu-jitsu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="tai-jitsu">Tai-jitsu</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="club">Club</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cours">Cours</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="app/admin">App</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="auth">Connexion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="auth" (click)="logout()">Déconnexion</a>
      </li>
    </ul>
  </nav>

