<div class="container-module">

  <div class="container-module-menu">
    <h1 class="header-module">Membres</h1>

    <div class="module-menu-header flex justify-content-between">
      <div class="w-full">
        <p-dropdown class="w-full" optionLabel="name" filterPlaceholder="Filtrer la liste" emptyFilterMessage="Aucun résultat" style="{width: 350px}"></p-dropdown>
      </div>
      <button pButton type="button" icon="pi pi-plus" class="p-button-rounded" routerLink="inscription"></button>
    </div>

    <a *ngFor="let member of members" [routerLink]="['details/', member.idMembre]">
      <div class="module-menu-card">
        <p>{{ member.prenom }} {{ member.nom }}</p>
      </div>
    </a>
  </div>

  <div class="container-module-content">
    <router-outlet></router-outlet>
  </div>

</div>
