<div class="container-module">

  <div class="container-module-menu">
    <div class="header-module flex justify-content-between">
      <h1>Membres</h1>
    </div>

    <div class="module-menu-header flex justify-content-between">
      <p-dropdown optionLabel="name"></p-dropdown>
      <button pButton type="button" icon="pi pi-plus" class="p-button-rounded" routerLink="inscription"></button>
    </div>

    <a *ngFor="let member of members" [routerLink]="['details/', member.idMembre]">
      <div class="module-menu-card">
        <p>{{ member.prenom }} {{ member.nom }}</p>
      </div>
    </a>
  </div>

  <div class="container-module-content">
    <router-outlet></router-outlet>
  </div>

</div>
